
<h2>Spirits forecast for {{account.name}}</h2>
<table class='table mt-3 mb-5'>
  <thead>
      <tr>
          <th>Category</th>
          <th>Spirit</th>
          <th>Amount</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Delete</th>
      </tr>
  </thead>

{% if forecast_items %}

<tbody>
    {% for item in forecast_items  %}
    <tr>
        <td>{{item.category}}</td>
        <td>{{item.spirit}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.start_date}}</td>
        <td>{{item.end_date}}</td>
        <td>
            <span class="badge bg-danger badge-pill" 
            style="cursor: pointer;"
            hx-delete="{% url 'forecast:delete-item' item.pk accountnr %}"
            hx-target="#item_list"
            hx-confirm="Are you sure you wish to delete {{item.spirit}} from {{account.name}}?">
            X</span>
        </td>


    </tr>
    {% endfor %}

    {% else %}

    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
</tbody>

{% endif %}
</table>