{% load static %}
{% load crispy_forms_tags %}


<h2>Spirits forecast for {{account.name}}</h2>
<table class='table mt-3 mb-5'>
{% if forecast_items %}

  <thead>
      <tr>
          <th>Category</th>
          <th>Product</th>
          <th>Amount</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Delete</th>
      </tr>
  </thead>



<tbody>
    {% for item in forecast_items  %}
    <tr>
        <td>{{item.category}}</td>
        <td>{{item.product}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.start_date}}</td>
        <td>{{item.end_date}}</td>
        <td>
            <span class="badge bg-danger badge-pill" 
            style="cursor: pointer;"
            hx-delete="{% url 'forecast:delete-item' item.pk accountnr %}"
            hx-target="#item_list"
            hx-confirm="Are you sure you wish to delete {{item.product}} from {{account.name}}?">
            X</span>
        </td>


    </tr>
    {% endfor %}

    {% else %}

    <tbody>
        <h2 class='text-center'>None selected</h2>
    </tbody>

{% endif %}
</table>