
{% extends 'base.html' %}

{% block content %}


<div class='container'>
<table class='table table-striped'>
    <thead>
        <tr>
            <th>Category</th>
            <th>Product</th>
            <th>This Month</th>
            <th>Next Month</th>
            <th>Month After</th>
        </tr>
    </thead>
    <tbody>
        {% for item in product_totals  %}
        <tr>
            <td>{{item.product_category}}</td>
            <td><a href="{% url 'forecast:account_by_product' product=item.product_name %}">{{item.product_name}}</a></td>
            <td>{{item.total_amount}}</td>
            <td>{{item.next_month_total_amount}}</td>
            <td>{{item.month_after_total_amount}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

</div>



{% endblock content %}


